---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name node-exporter
spec:
  staticConfigs:
    - targets:
        - nas.servers.internal:9100
        - pikvm.servers.internal:9100
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name smartctl-exporter
spec:
  staticConfigs:
    - targets:
        - nas.servers.internal:9633
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name pikvm
spec:
  basicAuth:
    username:
      name: scrape-target-pikvm-secret
      key: USERNAME
    password:
      name: scrape-target-pikvm-secret
      key: PASSWORD
  staticConfigs:
    - targets:
        - pikvm.servers.internal
  tlsConfig:
    insecureSkipVerify: true
  metricsPath: /api/export/prometheus/metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name zigbee-controller
spec:
  basicAuth:
    username:
      name: scrape-target-zigbee-secret
      key: USERNAME
    password:
      name: scrape-target-zigbee-secret
      key: PASSWORD
  staticConfigs:
    - targets:
        - zigbee.iot.internal
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
