---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nut-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/hon95/prometheus-nut-exporter
              tag: '1.2.1'
            env:
              HTTP_PATH: &metrics /metrics
              RUST_LOG: debug
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
                custom: false
              startup:
                enabled: true
                custom: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 10Mi
    service:
      app:
        controller: main
        ports:
          http:
            port: 9995
    serviceMonitor:
      app:
        serviceName: nut-exporter
        endpoints:
          - port: http
            scheme: http
            path: *metrics
            scrapeTimeout: 10s
            params:
              target: ['nas.servers.internal:3493']
            relabelings:
              - sourceLabels: [__param_target]
                targetLabel: target
