apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: unifi-secret
spec:
  refreshInterval: '1h'
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  target:
    name: unifi-secret
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: unifi
        property: mongodb_password
