---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./esphome/ks.yaml
  - ./home-assistant/ks.yaml
  - ./it-tools/ks.yaml
  - ./zigbee/ks.yaml
  - ./zwave/ks.yaml
components:
  - ../../components/common
  - ../../components/repos/app-template
