---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prowlarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: prowlarr-secret
    template:
      data:
        PROWLARR__AUTH__APIKEY: '{{ .PROWLARR_API_KEY }}'
  dataFrom:
    - extract:
        key: prowlarr
