---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
# mostly from https://github.com/auricom/home-ops/blob/main/kubernetes/apps/flux-system/capacitor/app/helmrelease.yaml
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app capacitor
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      capacitor:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/gimlet-io/capacitor
              tag: v0.4.8@sha256:c999a42cccc523b91086547f890466d09be4755bf05a52763b0d14594bf60782
            resources:
              requests:
                cpu: 50m
                ephemeral-storage: 1Gi
              limits:
                memory: 200Mi
                ephemeral-storage: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
    serviceAccount:
      create: true
      name: capacitor
    rbac:
      roles:
        capacitor:
          type: ClusterRole
          rules:
            - apiGroups:
                - networking.k8s.io
                - apps
                - ''
              resources:
                - pods
                - pods/log
                - ingresses
                - deployments
                - services
                - secrets
                - events
                - configmaps
              verbs:
                - get
                - watch
                - list
            - apiGroups:
                - source.toolkit.fluxcd.io
                - kustomize.toolkit.fluxcd.io
                - helm.toolkit.fluxcd.io
                - infra.contrib.fluxcd.io
              resources:
                - gitrepositories
                - ocirepositories
                - buckets
                - helmrepositories
                - helmcharts
                - kustomizations
                - helmreleases
                - terraforms
              verbs:
                - get
                - watch
                - list
                - patch # to allow force reconciling by adding an annotation
      bindings:
        capacitor:
          type: ClusterRoleBinding
          subjects:
            - kind: ServiceAccount
              name: capacitor
              namespace: flux-system
          roleRef:
            kind: ClusterRole
            name: capacitor
            apiGroup: rbac.authorization.k8s.io
    service:
      app:
        controller: *app
        ports:
          http:
            enabled: true
            port: &port 9000
    route:
      app:
        hostnames:
          - '{{ .Release.Name }}.${SECRET_DOMAIN}'
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          hajimari.io/appName: Capacitor
          hajimari.io/icon: simple-icons:flux
          hajimari.io/group: servers
